<section class="about-info">
    <div class="container">
        <div class="left-part to-top">
            <div class="txt">
                <p>Запрошуємо Вас долучитися до активного відпочинку у Карпатах та взяти участь у рафтингу по одній з найцікавіших гірських річок Українських Карпат – Чорному Черемоші. Сплави проводяться у період з квітня по жовтень включно під керівництвом інструктора. Човни для рафтингу, які пропонуються гостям,  розроблені спеціально для туристичних сплавів,  мають максимально безпечну конструкцію, що запобігає їх перевертанню під час подорожі навіть на найстрімкіших ділянках річки. Спорядження для сплаву надається нове, якісне та надійне. До участі запрошуються всі бажаючі, в тому числі і діти (за згодою батьків!), дітям віком до 10 років знижка 50 % !</p>
                <p>Пропонуємо  2 мальовничі маршрути  різної категорії складності*, продовженості та тривалості у часі:</p>
                <p>1) (більш цікавий) від с. Дземброня до с. Красник – для любителів адреналіну, стрімких поворотів та бурхливих перекатів:  ІІІ категорія складності, продовженість  7-8,5 км,  тривалість сплаву 45 хв-1 год.;</p>
                <p>2) від с. Дземброня до смт. Верховини – для шанувальників мальовничих карпатських краєвидів  та тривалих водних прогулянок: ІІ-ІІІ категорія складності, продовженість 13 км, тривалість сплаву до 2 год.</p>
                <p>Існує 6 категорій складності:  перша - найпростіша, шоста - найскладніша. Обидва пропоновані маршрути не вимагають спеціальної підготовки, розраховані на новачків, але будуть цікаві й досвідченим рафтерам, оскільки Чорний Черемош – найбільш придатна для рафтингу річка України (за повноводністю, швидкістю течії та наявністю ділянок різної категорії складності). Саме на ній проводиться найбільша кількість національних  змагань з рафтингу в Україні.</p>

            </div>
        </div>
        <div class="right-part to-left del-15">
            <img src="img/pics/about-info.png" alt="">
        </div>
    </div>
</section>
