<section class="all-tours">
    <div class="select-tour-wr">
        <div class="content">
            <div class="content-wr">
                <div class="tabs-outer to-top">
                    <div class="tabs">
                        <div class="tab-item">
                            <a class="active" href="#">Всi тури</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">Карпати черемош</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">Карпати прут</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">пороги мігея</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">Дністер</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">Слуг</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">Псел</a>
                        </div>
                        <div class="tab-item">
                            <a href="#">Малі річки</a>
                        </div>
                    </div>
                </div>
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>СПЛАВ ПО ПОРОГАМ </p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>ЧЕРЕМОШУ</h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                </div>
                <div class="items">
                    <div class="item to-left del-45">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-60">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-75">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-90">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-105">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-120">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-135">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-150">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-165">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>СПЛАВ ПО порогам</p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>Мігея </h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                </div>
                <div class="items">
                    <div class="item to-left del-45">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-60">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-75">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-90">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>СПЛАВ ПО ПОРОГАМ </p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>Пруту</h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                </div>
                <div class="items">
                    <div class="item to-left del-45">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-60">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-75">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-90">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>СПЛАВ ПО ПОРОГАМ </p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>Дністра</h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                </div>
                <div class="items">
                    <div class="item to-left del-45">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-60">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-75">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-90">
                        <a href="/product.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="text-part">
                            <div class="caption">
                                <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                            </div>
                            <div class="time">
                                <p>Час у турі <span>3 дні</span></p>
                            </div>
                            <div class="price">
                                <div class="price-value">
                                    <p>1850 грн </p>
                                    <p class="old-price">2500 грн</p>
                                </div>
                                <div class="sticker">
                                    <p>Знижка</p>
                                </div>
                            </div>
                            <div class="buy-btn">
                                <a href="/product.html"><span>Детальніше</span></a>
                            </div>
                            <div class="info-list">
                                <ul class="list-default">
                                    <li>⦁ подвоз участников и снаряжения</li>
                                    <li>⦁ ночёвки в палаточном лагере</li>
                                    <li>⦁ спальный мешок и коврик</li>
                                    <li>⦁ питание</li>
                                    <li>⦁ работа инструктора</li>
                                    <li>⦁ аренда снаряжения</li>
                                    <li>⦁ страховка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
