<section class="form">
    <div class="form-wr">
        <div class="text-part">
            <div class="subtitle to-top">
                <p>Хочу знати</p>
            </div>
            <div class="title to-top del-15">
                <h2>більше</h2>
                <span class="move-line" style="background-color: #1FACFF"></span>
            </div>
        </div>
        <div class="form-wrapper">
            <div class="support to-top del-45">
                <div class="caption">
                    <span>Месенджери</span>
                </div>
                <div class="items">
                    <a href="#" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.521" height="23.091" viewBox="0 0 26.521 23.091">
                            <g id="XMLID_496_" transform="translate(0 -19.4)">
                              <path id="XMLID_497_" d="M.469,30.472l6.111,2.281L8.945,40.36a.719.719,0,0,0,1.143.344l3.406-2.777a1.016,1.016,0,0,1,1.239-.035l6.144,4.461A.72.72,0,0,0,22,41.918l4.5-21.649a.72.72,0,0,0-.964-.819L.461,29.125A.721.721,0,0,0,.469,30.472Zm8.095,1.067,11.943-7.356a.208.208,0,0,1,.251.329L10.9,33.675a2.043,2.043,0,0,0-.633,1.223l-.336,2.488a.309.309,0,0,1-.6.044L8.038,32.892A1.2,1.2,0,0,1,8.564,31.539Z" transform="translate(0)"/>
                            </g>
                          </svg>
                    </a>
                    <a href="#" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.201" height="28.608" viewBox="0 0 26.201 28.608">
                            <g id="viber_1_" data-name="viber (1)" transform="translate(-1.38 0.014)">
                              <path id="Path_502" data-name="Path 502" d="M27.313,16.548c.853-7.178-.41-11.709-2.687-13.759h0C20.952-.712,8.54-1.23,4.143,2.945,2.168,4.988,1.473,7.985,1.4,11.7S1.23,22.363,7.71,24.249h.006L7.71,27.13s-.044,1.167.7,1.4c.853.276,1.239-.266,3.891-3.434a24.27,24.27,0,0,0,8.228-.625c.9-.3,5.963-.971,6.782-7.925ZM12.739,23.071s-2.807,3.5-3.68,4.409c-.286.3-.6.268-.594-.318,0-.385.021-4.783.021-4.783-5.494-1.574-5.17-7.5-5.11-10.594S4,6.149,5.675,4.44c3.858-3.617,14.739-2.808,17.512-.2,3.389,3,2.183,11.494,2.19,11.783-.7,5.8-4.8,6.173-5.558,6.424a22.391,22.391,0,0,1-7.079.626Z" transform="translate(0 0)"/>
                              <path id="Path_503" data-name="Path 503" d="M12.277,4.3a.361.361,0,0,0,0,.721c3.557.027,6.487,2.507,6.519,7.055a.349.349,0,1,0,.7-.006h0c-.038-4.9-3.237-7.742-7.215-7.77Z" transform="translate(2.015 0.823)"/>
                              <path id="Path_504" data-name="Path 504" d="M16.858,11.018a.349.349,0,1,0,.7.017,4.824,4.824,0,0,0-4.739-5.163.361.361,0,0,0-.049.721,4.112,4.112,0,0,1,4.091,4.426Z" transform="translate(2.113 1.124)"/>
                              <path id="Path_505" data-name="Path 505" d="M17.3,14.26a1.1,1.1,0,0,0-1.435.206l-.518.671a.926.926,0,0,1-.755.3c-3.59-.949-4.549-4.705-4.549-4.705a1,1,0,0,1,.285-.781l.648-.536a1.193,1.193,0,0,0,.2-1.485A15.477,15.477,0,0,0,9.395,5.362a.959.959,0,0,0-1.289-.218H8.1c-1.03.6-2.158,1.73-1.8,2.892.616,1.224,1.747,5.127,5.353,8.076a20.586,20.586,0,0,0,5.515,3.154l.011.017c1.122.374,2.213-.8,2.8-1.859v-.008a1.021,1.021,0,0,0-.2-1.317A14.04,14.04,0,0,0,17.3,14.26Z" transform="translate(0.926 0.955)"/>
                              <path id="Path_506" data-name="Path 506" d="M13.221,8.22c1.145.067,1.7.665,1.759,1.892a.349.349,0,1,0,.7-.033A2.391,2.391,0,0,0,13.26,7.5.361.361,0,0,0,13.221,8.22Z" transform="translate(2.199 1.434)"/>
                            </g>
                          </svg>
                    </a>
                </div>
            </div>
            <form action="#" class="form-container to-left del-75">
                <div class="form-caption">
                    <span>Відправити заявку</span>
                </div>
                <div class="form-description">
                    <p>Лишіть свої контактні дані і ми звяжемось з вами в найближчий час</p>
                </div>
                <div class="input-group">
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Iм'я" class="reqiered-field" name="name">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Номер телефона чи емейл" class="reqiered-field" name="phone">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                </div>
                <div class="input-group">

                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Тур" class="reqiered-field" name="country">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Кількість людей" class="reqiered-field" name="email">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                </div>
                <div class="textarea">
                    <div class="input-wr">
                        <textarea name="message" id="message" placeholder="Коментар"></textarea>
                    </div>

                    <span class="valid-error"></span>
                </div>
                <div class="button-wr">
                    <button class="button">
                        <span>Відправити заявку</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
</section>
