<header class="header @@class">
    <div class="header-inner">
        <div class="burger mobile-show">
            <span></span>
        </div>
    <a class="logo" href="/">
        <img class="white" src="img/pics/logo.svg" alt="">
        <img class="dark" src="img/pics/logo-dark.svg" alt="">
    </a>
    <div class="nav mobile-hide">
        <ul class="list-default">
            <li>
                <a href="/blog.html">БЛОГ</a>
            </li>
            <li>
                <a href="/all-tours.html">ТУРИ</a>
            </li>
            <li>
                <a href="/about-us.html">Про нас</a>
            </li>

        </ul>
    </div>
    <div class="nav contact-nav mobile-hide">
        <ul class="list-default">
            <li>
                <a href="tel:+380673396994">+38 067 339 69 94</a>
            </li>
            <li>
                <a href="#" class="modal-trigger" data-target="request-call-modal">ЗАМОВИТИ ДЗВІНОК</a>
            </li>
        </ul>
    </div>
    <div class="phone mobile-show">
        <a href="tel:+380673396994">+38 067 339 69 94</a>
    </div>

    <div class="lang-container dropdown-group">
        <button class="drop-trigger grey-lnk-style lang-trigger">
            <span class="font-15r">ru</span>
        </button>
        <div class="hover-container">
            <div class="drop-container">
                <ul class="drop-list list-default">
                    <li class="drop-item">
                        <a href="#" class="font-15r">ru</a>
                    </li>
                    <li class="drop-item">
                        <a href="#" class="font-15r">en</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mobile-menu mobile-show">
    <div class="close-trigger">
    </div>
    <ul class="list-default">
        <li>
            <a href="/">Головна</a>
        </li>
        <li>
            <a href="/blog.html">БЛОГ</a>
        </li>
        <li>
            <a href="/all-tours.html">ТУРИ</a>
        </li>
        <li>
            <a href="/about-us.html">Про нас</a>
        </li>
        <li>
            <a href="#" class="modal-trigger" data-target="request-call-modal">ЗАМОВИТИ ДЗВІНОК</a>
        </li>
    </ul>
</div>
</header>
