<section class="instructors">
    <div class="content">
        <div class="subtitle to-top">
            <p>Наші</p>
        </div>
        <div class="title to-top del-15">
            <h3>Інструктори</h3>
            <span class="move-line" style="background-color: #75DB43;"></span>
        </div>
        <div class="items">
            <div class="item to-left del-30">
                <div class="photo">
                    <img src="img/pics/instructor.png" alt="">
                </div>
                <div class="text">
                    <div class="name">
                        <p>Імя інструктора</p>
                    </div>
                    <div class="descrition">
                        <p>Короткий опис про інструктора може бути максимум в 3 4 а може навіть 5 строк</p>
                    </div>
                </div>
            </div>
            <div class="item to-left del-45">
                <div class="photo">
                    <img src="img/pics/instructor.png" alt="">
                </div>
                <div class="text">
                    <div class="name">
                        <p>Імя інструктора</p>
                    </div>
                    <div class="descrition">
                        <p>Короткий опис про інструктора може бути максимум в 3 4 а може навіть 5 строк</p>
                    </div>
                </div>
            </div>
            <div class="item to-left del-60">
                <div class="photo">
                    <img src="img/pics/instructor.png" alt="">
                </div>
                <div class="text">
                    <div class="name">
                        <p>Імя інструктора</p>
                    </div>
                    <div class="descrition">
                        <p>Короткий опис про інструктора може бути максимум в 3 4 а може навіть 5 строк</p>
                    </div>
                </div>
            </div>
            <div class="item to-left del-75">
                <div class="photo">
                    <img src="img/pics/instructor.png" alt="">
                </div>
                <div class="text">
                    <div class="name">
                        <p>Імя інструктора</p>
                    </div>
                    <div class="descrition">
                        <p>Короткий опис про інструктора може бути максимум в 3 4 а може навіть 5 строк</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
