<section class="latest-news">
    <div class="latest-news-wr">
        <div class="content">
            <div class="content-wr">
                <div class="top-part">
                    <div class="title to-top">
                        <h2>Останні</h2>
                        <span class="move-line" style="background-color: #75DB43;"></span>
                    </div>
                    <div class="subtitle to-top del-15">
                        <p>Новини від наших гідів</p>
                    </div>
                </div>
                <div class="items">
                    <div class="item to-left del-30">
                        <a href="/news-final.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="txt">
                            <div class="caption">
                            <p>Заглавие новости может быть
                                в несколько строк максимум 2 или
                                3 строки</p>
                        </div>
                        <div class="time">
                            <p>Сегодня   20:47</p>
                        </div>
                        </div>

                    </div>
                    <div class="item to-left del-45">
                        <a href="/news-final.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="txt">
                            <div class="caption">
                            <p>Заглавие новости может быть
                                в несколько строк максимум 2 или
                                3 строки</p>
                            </div>
                            <div class="time">
                                <p>Сегодня   20:47</p>
                            </div>
                        </div>

                    </div>
                    <div class="item to-left del-60">
                        <a href="/news-final.html" class="hidden-lnk"></a>
                        <div class="img-container">
                            <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                            <div class="bg"></div>
                        </div>
                        <div class="txt">
                            <div class="caption">
                                <p>Заглавие новости может быть
                                    в несколько строк максимум 2 или
                                    3 строки</p>
                            </div>
                            <div class="time">
                                <p>Сегодня   20:47</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
