<div class="modal thank-modal" id="thank-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger close-modal"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn close-modal">
                <div></div>
            </div>
            <div class="logo">
                <img src="img/pics/logo-dark.svg" alt="logo">
            </div>
            <div class="description">
                <p>Спасибо, мы свяжемся с вами в ближайшее время</p>
            </div>
        </div>
    </div>
</div>

<div class="modal error-modal" id="error-modal">
    <div class="modal-inner">
        <div class="modal-overlay close-trigger close-modal"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn close-modal">
                <div></div>
            </div>
            <div class="logo">
                <img src="img/pics/logo-dark.svg" alt="U-Robot logo">
            </div>
            <div class="description">
                <p>Произошла ошибка, переотправьте, пожалуйста, Ваши данные еще раз</p>
            </div>
        </div>
    </div>
</div>


<div class="modal request-modal" id="request-modal">
    <div class="modal-inner">
        <div class="modal-overlay close-trigger close-modal"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn close-modal">
                <div></div>
            </div>
            <div class="title">
                <p>ВІДПРАВИТИ ЗАЯВКУ</p>
            </div>
            <div class="description">
                <p>Лишіть свої контактні дані і ми звяжемось з вами в найближчий час</p>
            </div>
            <form action="#" class="form-container">
                <div class="input-group">
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Iм'я" class="reqiered-field" name="name">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Номер телефона чи емейл"  name="phone">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Тур"  name="tour">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Кількість людей" class="reqiered-field" name="
                            quantity">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                </div>
                <div class="textarea">
                    <div class="input-wr">
                        <textarea name="message" id="message" placeholder="Коментар"></textarea>
                    </div>

                    <span class="valid-error"></span>
                </div>
                <div class="button-wr">
                    <button class="button">
                        <span>Відправити заявку</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal request-call-modal" id="request-call-modal">
    <div class="modal-inner">
        <div class="modal-overlay close-trigger close-modal"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn close-modal">
                <div></div>
            </div>
            <div class="title">
                <p>Замовити дзвінок</p>
            </div>
            <div class="description">
                <p>Лишіть свої контактні дані і ми звяжемось з вами в найближчий час</p>
            </div>
            <form action="#" class="form-container">
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="Iм'я" class="reqiered-field" name="name">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="Номер телефона чи емейл"  name="phone">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="button-wr">
                    <button class="button">
                        <span>Відправити заявку</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
