<section class="news-final">
    <div class="caption-wrap">
        <div class="news-info flex">
                <div class="date-wr">
                    <span class="date grey font-12r">Вчера</span>
                    <span class="time grey font-12r">20:47</span>
                </div>
        </div>
        <div class="caption">
            <p class="font-30b">ECRO-launched China Clean Energy Fund invests in three wind farms</p>
        </div>

    </div>
    <div class="content">
        <div>
            <img src="img/pics/news-final.png" alt="i" />
        </div>
        <div>Rising from the hills of Dao County in Hunan Province, China, beyond the city of Yongzhou, a dramatic sight appears on the horizon. Here, the massive blades of wind turbines from the Concord Jing Tang and Concord Shen Zhang Tang wind farms turn rhythmically in the sky. Developed by the Concord New Energy Group Limited, each farm generates 48 megawatts (MW) of clean energy. Along with a 38 MW farm in bordering Hubei province developed by Fenghua Energy Investment Group Co., Ltd., these three clean energy projects are the first investments of the China Clean Energy Fund.</div>
        <div>Launched in 2018, the China Clean Energy Fund is a new, first-of-its-kind investment fund in China that connects suppliers with renewable energy projects. Apple and 10 of its suppliers in China will invest nearly $300 million by 2022 to develop projects totaling 1 gigawatt of renewable energy. The three wind farms in Hunan and Hubei will generate approximately one-tenth of the anticipated overall project total. </div>
        <div>“To see these projects completed and already supplying clean energy to the grid is really exciting,” said Lisa Jackson, Apple’s vice president of Environment, Policy and Social Initiatives. “We are proud that suppliers participating in the fund share our commitment to supporting innovative energy solutions, cutting emissions and fighting climate change.”</div>
    </div>

    <div class="socials to-top">
        <div class="caption">
            <span>Поділитися новиною:</span>
        </div>
        <div class="items">
            <a href="#" class="item">
                <svg xmlns="http://www.w3.org/2000/svg" width="30.028" height="30.027" viewBox="0 0 30.028 30.027">
                    <g id="facebook_1_" data-name="facebook (1)" opacity="0.501">
                      <path id="Контур_776" data-name="Контур 776" d="M30.028,15.014A15.014,15.014,0,1,1,15.014,0,15.014,15.014,0,0,1,30.028,15.014Zm0,0" transform="translate(0)" fill="#000808"/>
                      <path id="Контур_778" data-name="Контур 778" d="M155.4,71.378v3.4s-3.9-.567-3.9,1.952v2.518h3.525l-.441,3.84H151.5V93.1h-3.9V83.087l-3.337-.063V79.247h3.274v-2.9s-.216-4.308,4.029-5.1A11.343,11.343,0,0,1,155.4,71.378Zm0,0" transform="translate(-135.797 -66.961)" fill="#fff"/>
                    </g>
                  </svg>
            </a>
            <a href="#" class="item">
                <svg xmlns="http://www.w3.org/2000/svg" width="30.028" height="30.027" viewBox="0 0 30.028 30.027">
                    <g id="instagram_1_" data-name="instagram (1)" transform="translate(0)" opacity="0.501">
                      <path id="Контур_780" data-name="Контур 780" d="M212.747,209.874A2.874,2.874,0,1,1,209.874,207,2.874,2.874,0,0,1,212.747,209.874Zm0,0" transform="translate(-194.86 -194.86)"/>
                      <path id="Контур_781" data-name="Контур 781" d="M149.273,137.472a2.855,2.855,0,0,0-1.636-1.636,4.77,4.77,0,0,0-1.6-.3c-.909-.041-1.182-.05-3.484-.05s-2.575.009-3.484.05a4.773,4.773,0,0,0-1.6.3,2.856,2.856,0,0,0-1.636,1.636,4.772,4.772,0,0,0-.3,1.6c-.041.909-.05,1.182-.05,3.484s.009,2.575.05,3.484a4.77,4.77,0,0,0,.3,1.6,2.855,2.855,0,0,0,1.636,1.636,4.765,4.765,0,0,0,1.6.3c.909.041,1.181.05,3.484.05s2.575-.009,3.484-.05a4.765,4.765,0,0,0,1.6-.3,2.855,2.855,0,0,0,1.636-1.636,4.775,4.775,0,0,0,.3-1.6c.041-.909.05-1.182.05-3.484s-.009-2.575-.05-3.484A4.764,4.764,0,0,0,149.273,137.472Zm-6.721,9.511a4.427,4.427,0,1,1,4.427-4.427A4.427,4.427,0,0,1,142.552,146.983Zm4.6-7.994a1.035,1.035,0,1,1,1.035-1.035A1.035,1.035,0,0,1,147.154,138.989Zm0,0" transform="translate(-127.538 -127.542)"/>
                      <path id="Контур_782" data-name="Контур 782" d="M15.014,0A15.014,15.014,0,1,0,30.028,15.014,15.015,15.015,0,0,0,15.014,0Zm8.569,18.568a6.325,6.325,0,0,1-.4,2.093,4.408,4.408,0,0,1-2.521,2.521,6.329,6.329,0,0,1-2.093.4c-.919.042-1.213.052-3.554.052s-2.635-.01-3.555-.052a6.329,6.329,0,0,1-2.093-.4,4.408,4.408,0,0,1-2.521-2.521,6.324,6.324,0,0,1-.4-2.093c-.042-.92-.052-1.213-.052-3.555s.01-2.635.052-3.554a6.326,6.326,0,0,1,.4-2.093A4.411,4.411,0,0,1,9.367,6.845a6.331,6.331,0,0,1,2.093-.4c.919-.042,1.213-.052,3.554-.052s2.635.01,3.554.052a6.332,6.332,0,0,1,2.093.4,4.409,4.409,0,0,1,2.521,2.522,6.325,6.325,0,0,1,.4,2.093c.042.919.052,1.213.052,3.554S23.625,17.649,23.583,18.568Zm0,0" transform="translate(0)"/>
                    </g>
                  </svg>
            </a>
            <a href="#" class="item">
                <svg xmlns="http://www.w3.org/2000/svg" width="30.023" height="30.023" viewBox="0 0 30.023 30.023">
                    <path id="telegram_3_" data-name="telegram (3)" d="M15.012,30.023A15.012,15.012,0,1,0,0,15.012,15.009,15.009,0,0,0,15.012,30.023ZM6.869,14.686,21.343,9.106c.672-.243,1.258.164,1.041,1.18h0L19.92,21.894c-.183.823-.672,1.023-1.356.635l-3.753-2.766L13,21.508a.946.946,0,0,1-.757.369l.266-3.819,6.955-6.284c.3-.266-.068-.417-.467-.151l-8.6,5.412L6.7,15.879c-.8-.255-.822-.8.17-1.192Z" opacity="0.501"/>
                  </svg>
            </a>
        </div>
    </div>
</section>
<section class="latest-news final-container">
    <div class="news-caption">
        <p>Останні новини</p>
    </div>
    <div class="items">
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                <p>Заглавие новости может быть
                    в несколько строк максимум 2 или
                    3 строки</p>
            </div>
            <div class="time">
                <p>Сегодня   20:47</p>
            </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                <p>Заглавие новости может быть
                    в несколько строк максимум 2 или
                    3 строки</p>
                </div>
                <div class="time">
                    <p>Сегодня   20:47</p>
                </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                    <p>Заглавие новости может быть
                        в несколько строк максимум 2 или
                        3 строки</p>
                </div>
                <div class="time">
                    <p>Сегодня   20:47</p>
                </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                <p>Заглавие новости может быть
                    в несколько строк максимум 2 или
                    3 строки</p>
            </div>
            <div class="time">
                <p>Сегодня   20:47</p>
            </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                <p>Заглавие новости может быть
                    в несколько строк максимум 2 или
                    3 строки</p>
                </div>
                <div class="time">
                    <p>Сегодня   20:47</p>
                </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                    <p>Заглавие новости может быть
                        в несколько строк максимум 2 или
                        3 строки</p>
                </div>
                <div class="time">
                    <p>Сегодня   20:47</p>
                </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                <p>Заглавие новости может быть
                    в несколько строк максимум 2 или
                    3 строки</p>
            </div>
            <div class="time">
                <p>Сегодня   20:47</p>
            </div>
            </div>

        </div>
        <div class="item to-left del-30">
            <a href="#" class="hidden-lnk"></a>
            <div class="img-container">
                <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                <div class="bg"></div>
            </div>
            <div class="txt">
                <div class="caption">
                <p>Заглавие новости может быть
                    в несколько строк максимум 2 или
                    3 строки</p>
            </div>
            <div class="time">
                <p>Сегодня   20:47</p>
            </div>
            </div>

        </div>
    </div>
</section>
