<section class="offer">
    <div class="bg-container">
        <div class="video-bg">
            <video autoplay="autoplay" preload="automatic" playsinline="" muted="muted" loop="loop" class="video__item">
                <source data-v-779d904e="" src="img/pics/video1.webm" type="video/webm"></video>
        </div>
    </div>
    <div class="offer-wr">


        <div class="content">

            <div class="content-wr">
                <div class="left-part">
                    <div class="subtitle">
                        <p>Останні новини від наших гідів</p>
                    </div>
                    <div class="title">
                        <h2>Надати</h2>
                    </div>
                    <div class="description">
                        <p>Звяжіться з нами і ми підберемо та доповнимо тур по <br> вашим потребам та бажанням</p>
                    </div>
                </div>
                <div class="right-part">
                    <div class="item-wr">
                        <div class="offer-item">
                            <div class="counter">
                                <span>01</span>
                            </div>
                            <div class="caption">
                                <p>Прокат квадроциклів</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>02</span>
                            </div>
                            <div class="caption">
                                <p>Кінна прогулянка</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>03</span>
                            </div>
                            <div class="caption">
                                <p>квести</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>04</span>
                            </div>
                            <div class="caption">
                                <p>Прокат квадроциклів</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>05</span>
                            </div>
                            <div class="caption">
                                <p>Кінна прогулянка</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>06</span>
                            </div>
                            <div class="caption">
                                <p>квести</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div><div class="offer-item">
                            <div class="counter">
                                <span>07</span>
                            </div>
                            <div class="caption">
                                <p>Прокат квадроциклів</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>08</span>
                            </div>
                            <div class="caption">
                                <p>Кінна прогулянка</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>09</span>
                            </div>
                            <div class="caption">
                                <p>квести</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div><div class="offer-item">
                            <div class="counter">
                                <span>10</span>
                            </div>
                            <div class="caption">
                                <p>Прокат квадроциклів</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>11</span>
                            </div>
                            <div class="caption">
                                <p>Кінна прогулянка</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="counter">
                                <span>12</span>
                            </div>
                            <div class="caption">
                                <p>квести</p>
                            </div>
                            <div class="text">
                                <p>Цікава екскурсія по маршрутам з надзвичайно гарнимі краявидами на сучасних та
                                    потужних квадроциклах зроблять ваш тур 100% незабутнім</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
