<section class="partners">
    <div class="partners-wr">
        <div class="text-part">
            <div class="text to-top del-15">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="caption to-top">
                <span>З нами відпочили</span>
            </div>
        </div>
        <div class="items to-top del-35">
            <div class="item">
                <img src="img/pics/logo1.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo2.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo3.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo4.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo1.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo2.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo3.svg" alt="">
            </div>
            <div class="item">
                <img src="img/pics/logo4.svg" alt="">
            </div>
        </div>
    </div>
</section>
