<div class="tour-item @@class" data-tab-item="@@tabNumber">
    <div class="text">
       <div class="subtitle to-top del-75">
            <p>@@subtitle</p>
        </div>
        <div class="title to-top del-90">
            <h2>@@title</h2>
            <span class="move-line" style="background-color: #75DB43;"></span>
        </div>
    </div>

    <div class="tour-wr">
        <div class="left-part">
            <div class="terms-list">
                <ul class="list-default">
                    <li>
                        <img src="@@itemImg1" alt="">
                        <p>@@item1</p>
                    </li>
                    <li>
                        <img src="@@itemImg2" alt="">
                        <p>@@item2</p>
                    </li>
                    <li>
                        <img src="@@itemImg3" alt="">
                        <p>@@item3</p>
                    </li>
                    <li>
                        <img src="@@itemImg4" alt="">
                        <p>@@item4</p>
                    </li>
                    <li>
                        <img src="@@itemImg5" alt="">
                        <p>@@item5</p>
                    </li>
                    <li>
                        <img src="@@itemImg6" alt="">
                        <p>@@item6</p>
                    </li>
                </ul>
            </div>
            <div class="time">
                <p>@@time</p>
            </div>
            <div class="price">
                <p>@@price</p>
            </div>
            <div class="btn-wr to-top del-120">
                <button class="modal-trigger" data-target="request-modal">
                    <span>Замовити тур</span>
                </button>
            </div>
        </div>

        <div class="right-part">
            <div class="img-wr to-left">
                <div class="img">
                    <img src="@@img" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
