<section class="popular">
    <div class="popular-wr">
        <div class="content">
            <div class="content-wr">
                <div class="top-part">
                    <div class="subtitle to-top del-15">
                        <p>Найпопулярніші пропозиції <br> по напрямкам</p>
                    </div>
                    <div class="tabs-outer to-top del-30">
                        <div class="tabs">
                            <div class="tab-item">
                                <a class="active" href="#" data-popular-trigger="1">Карпати черемош</a>
                            </div>
                            <div class="tab-item">
                                <a href="#" data-popular-trigger="2">Карпати прут</a>
                            </div>
                            <div class="tab-item">
                                <a href="#" data-popular-trigger="3">пороги мігея</a>
                            </div>
                            <div class="tab-item">
                                <a href="#" data-popular-trigger="4">Дністер</a>
                            </div>
                            <div class="tab-item">
                                <a href="#" data-popular-trigger="5">Слуг</a>
                            </div>
                            <div class="tab-item">
                                <a href="#" data-popular-trigger="6">Псел</a>
                            </div>
                            <div class="tab-item">
                                <a href="#" data-popular-trigger="7">Малі річки</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tour-item-container">
                    @@include("../components/_popular-item.html", {
                        "class" : "opened",
                        "tabNumber" : "1",
                        "subtitle" : "Сплав по порогам черемошу",
                        "title" : "черемошу",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/terms-img.png",
                        "subtitle-anim" : "to-top del-30",
                        "title-anim" : "to-top del-45",
                        "left-anim" : "to-top del-75",
                        "right-anim" : "to-left del-60"
                    })
                    @@include("../components/_popular-item.html", {
                        "class" : "",
                        "tabNumber" : "2",
                        "subtitle" : "Сплав по порогам пруту",
                        "title" : "пруту",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/tour-bg1.png"
                    })
                    @@include("../components/_popular-item.html", {
                        "class" : "",
                        "tabNumber" : "3",
                        "subtitle" : "Сплав по порогам мігея",
                        "title" : "мігея",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/tour-bg2.png"
                    })
                    @@include("../components/_popular-item.html", {
                        "class" : "",
                        "tabNumber" : "4",
                        "subtitle" : "Сплав по порогам Дністра",
                        "title" : "Дністра",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/tour-bg3.png"
                    })
                    @@include("../components/_popular-item.html", {
                        "class" : "",
                        "tabNumber" : "5",
                        "subtitle" : "Сплав по порогам Слугу",
                        "title" : "Слугу",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/tour-bg4.png"
                    })
                    @@include("../components/_popular-item.html", {
                        "class" : "",
                        "tabNumber" : "6",
                        "subtitle" : "Сплав по порогам черемошу",
                        "title" : "черемошу",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/terms-img.png"
                    })
                    @@include("../components/_popular-item.html", {
                        "class" : "",
                        "tabNumber" : "7",
                        "subtitle" : "Сплав по порогам черемошу",
                        "title" : "черемошу",
                        "item1" : "Оренда професійного спорядження та екіпування",
                        "itemImg1" : "img/pics/terms-icon1.svg",
                        "item2" : "Трансфер в обидві сторони",
                        "itemImg2" : "img/pics/terms-icon2.svg",
                        "item3" : "Проживання в комфортних будиночках чи палатках",
                        "itemImg3" : "img/pics/terms-icon3.svg",
                        "item4" : "Екскурсії по на гори Смотрич та  обсерваторію «Білий слон»",
                        "itemImg4" : "img/pics/terms-icon4.svg",
                        "item5" : "3 разове харчування та перекуси. Готуемо на вогні",
                        "itemImg5" : "img/pics/terms-icon5.svg",
                        "item6" : "Фотограф, для збереження незубутніх вражень",
                        "itemImg6" : "img/pics/terms-icon6.svg",
                        "time" : "Тривалість туру 3 дні",
                        "price" : "1200 грн / чол",
                        "img" : "img/pics/terms-img.png"
                    })
                </div>
            </div>
        </div>
    </div>
</section>
