<section class="product-fs first-screen">
    <div class="fs-wrapper">
        <div class="video-bg">
            <video autoplay="autoplay" preload="automatic" playsinline="" muted="muted" loop="loop" class="video__item"><source  src="img/pics/video1.webm" type="video/webm"></video>
        </div>
        <div class="content">
            <div class="text-part">
                <div class="subtitle">
                    <p>Карпати</p>
                </div>
                <div class="title">
                    <h2>Черемош</h2>
                </div>
                <div class="description">
                    <p>Запрошуємо Вас долучитися до активного відпочинку у Карпатах та взяти участь у рафтингу по одній з найцікавіших гірських річок Українських Карпат – Чорному Черемоші.</p>
                </div>
            </div>
        </div>
    </div>
</section>
