<section class="review-tour">
    <div class="container">
        <div class="left-part to-top del-30">
            <div class="caption">
                <h3>Огляд туру</h3>
            </div>
            <div class="tour-section">
                <div class="section-caption">
                    <h4>День перший</h4>
                </div>
                <div class="txt">
                    <div class="block">
                        <div class="img">
                            <div class="img-inner">
                                <img src="img/pics/slider-photo.png" alt="">
                            </div>
                        </div>
                        <div class="txt">
                            <div class="time">
                                <span>10:00 - 13:00</span>
                            </div>
                            <p>Пропонуємо  2 мальовничі маршрути  різної категорії складності*, продовженості та тривалості у часі:</p>
                            <p>1) (більш цікавий) від с. Дземброня до с. Красник – для любителів адреналіну, стрімких поворотів та бурхливих перекатів:  ІІІ категорія складності, продовженість  7-8,5 км,  тривалість сплаву 45 хв-1 год.;</p>
                            <p>2) від с. Дземброня до смт. Верховини – для шанувальників мальовничих карпатських краєвидів  та тривалих водних прогулянок: ІІ-ІІІ категорія складності, продовженість 13 км, тривалість сплаву до 2 год.</p>
                        </div>

                    </div>
                    <div class="block">
                        <div class="txt">
                            <div class="time">
                                <span>10:00 - 13:00</span>
                            </div>
                            <p>Існує 6 категорій складності:  перша - найпростіша, шоста - найскладніша. Обидва пропоновані маршрути не вимагають спеціальної підготовки, розраховані на новачків, але будуть цікаві й досвідченим рафтерам, оскільки Чорний Черемош – найбільш придатна для рафтингу річка України (за повноводністю, швидкістю течії та наявністю ділянок різної категорії складності). Саме на ній проводиться найбільша кількість національних  змагань з рафтингу в Україні.</p>
                        </div>
                        <div class="img">
                            <div class="img-inner">
                                <img src="img/pics/slider-photo.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tour-section">
                <div class="section-caption">
                    <h4>День другий</h4>
                </div>
                <div class="txt">
                    <div class="block">
                        <div class="img">
                            <div class="img-inner">
                                <img src="img/pics/slider-photo.png" alt="">
                            </div>
                        </div>
                        <div class="txt">
                            <div class="time">
                                <span>10:00 - 13:00</span>
                            </div>
                            <p>Пропонуємо  2 мальовничі маршрути  різної категорії складності*, продовженості та тривалості у часі:</p>
                            <p>1) (більш цікавий) від с. Дземброня до с. Красник – для любителів адреналіну, стрімких поворотів та бурхливих перекатів:  ІІІ категорія складності, продовженість  7-8,5 км,  тривалість сплаву 45 хв-1 год.;</p>
                            <p>2) від с. Дземброня до смт. Верховини – для шанувальників мальовничих карпатських краєвидів  та тривалих водних прогулянок: ІІ-ІІІ категорія складності, продовженість 13 км, тривалість сплаву до 2 год.</p>
                        </div>

                    </div>
                    <div class="block">
                        <div class="txt">
                            <div class="time">
                                <span>10:00 - 13:00</span>
                            </div>
                            <p>Існує 6 категорій складності:  перша - найпростіша, шоста - найскладніша. Обидва пропоновані маршрути не вимагають спеціальної підготовки, розраховані на новачків, але будуть цікаві й досвідченим рафтерам, оскільки Чорний Черемош – найбільш придатна для рафтингу річка України (за повноводністю, швидкістю течії та наявністю ділянок різної категорії складності). Саме на ній проводиться найбільша кількість національних  змагань з рафтингу в Україні.</p>
                        </div>
                        <div class="img">
                            <div class="img-inner">
                                <img src="img/pics/slider-photo.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tour-section">
                <div class="section-caption">
                    <h4>День третiй</h4>
                </div>
                <div class="txt">
                    <div class="block">
                        <div class="img">
                            <div class="img-inner">
                                <img src="img/pics/slider-photo.png" alt="">
                            </div>
                        </div>
                        <div class="txt">
                            <div class="time">
                                <span>10:00 - 13:00</span>
                            </div>
                            <p>Пропонуємо  2 мальовничі маршрути  різної категорії складності*, продовженості та тривалості у часі:</p>
                            <p>1) (більш цікавий) від с. Дземброня до с. Красник – для любителів адреналіну, стрімких поворотів та бурхливих перекатів:  ІІІ категорія складності, продовженість  7-8,5 км,  тривалість сплаву 45 хв-1 год.;</p>
                            <p>2) від с. Дземброня до смт. Верховини – для шанувальників мальовничих карпатських краєвидів  та тривалих водних прогулянок: ІІ-ІІІ категорія складності, продовженість 13 км, тривалість сплаву до 2 год.</p>
                        </div>

                    </div>
                    <div class="block">
                        <div class="txt">
                            <div class="time">
                                <span>10:00 - 13:00</span>
                            </div>
                            <p>Існує 6 категорій складності:  перша - найпростіша, шоста - найскладніша. Обидва пропоновані маршрути не вимагають спеціальної підготовки, розраховані на новачків, але будуть цікаві й досвідченим рафтерам, оскільки Чорний Черемош – найбільш придатна для рафтингу річка України (за повноводністю, швидкістю течії та наявністю ділянок різної категорії складності). Саме на ній проводиться найбільша кількість національних  змагань з рафтингу в Україні.</p>
                        </div>
                        <div class="img">
                            <div class="img-inner">
                                <img src="img/pics/slider-photo.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="some-txt">
                <p>Запрошуємо Вас долучитися до активного відпочинку у Карпатах та взяти участь у рафтингу по одній з найцікавіших гірських річок Українських Карпат – Чорному Черемоші. Сплави проводяться у період з квітня по жовтень включно під керівництвом інструктора. Човни для рафтингу, які пропонуються гостям,  розроблені спеціально для туристичних сплавів,  мають максимально безпечну конструкцію, що запобігає їх перевертанню під час подорожі навіть на найстрімкіших ділянках річки. Спорядження для сплаву надається нове, якісне та надійне. До участі запрошуються всі бажаючі, в тому числі і діти (за згодою батьків!), дітям віком до 10 років знижка 50 % !</p>
                <p> Пропонуємо  2 мальовничі маршрути  різної категорії складності*, продовженості та тривалості у часі:</p>
                <p>1) (більш цікавий) від с. Дземброня до с. Красник – для любителів адреналіну, стрімких поворотів та бурхливих перекатів:  ІІІ категорія складності, продовженість  7-8,5 км,  тривалість сплаву 45 хв-1 год.;</p>
                <p>2) від с. Дземброня до смт. Верховини – для шанувальників мальовничих карпатських краєвидів  та тривалих водних прогулянок: ІІ-ІІІ категорія складності, продовженість 13 км, тривалість сплаву до 2 год.</p>
                <p>Існує 6 категорій складності:  перша - найпростіша, шоста - найскладніша. Обидва пропоновані маршрути не вимагають спеціальної підготовки, розраховані на новачків, але будуть цікаві й досвідченим рафтерам, оскільки Чорний Черемош – найбільш придатна для рафтингу річка України (за повноводністю, швидкістю течії та наявністю ділянок різної категорії складності). Саме на ній проводиться найбільша кількість національних  змагань з рафтингу в Україні. </p>
            </div>
        </div>
        <div class="right-part to-right">

            <div class="select-button">
                <button class="tour modal-trigger" data-target="request-modal">
                    <span>Замовити тур</span>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.485" height="16.971" viewBox="0 0 34.485 16.971">
                            <g id="arr-left" transform="translate(134 1419.485) rotate(-180)">
                              <rect id="Прямоугольник_342" data-name="Прямоугольник 342" width="32" height="2" rx="1" transform="translate(102 1410)" fill="#fff"/>
                              <rect id="Прямоугольник_343" data-name="Прямоугольник 343" width="12" height="2" rx="1" transform="translate(100.929 1409.586) rotate(45)" fill="#fff"/>
                              <rect id="Прямоугольник_344" data-name="Прямоугольник 344" width="12" height="2" rx="1" transform="translate(109.414 1403.929) rotate(135)" fill="#fff"/>
                            </g>
                        </svg>
                    </div>
                </button>
            </div>
            <div class="info-wr">
                <div class="item">
                    <div class="name">
                        <p>Локація</p>
                    </div>
                    <div class="text">
                        <p>смт. Верховина</p>
                    </div>
                </div>
                <div class="item">
                    <div class="name">
                        <p>Тривалість туру</p>
                    </div>
                    <div class="text">
                        <p>2 дні</p>
                    </div>
                </div>
                <div class="item">
                    <div class="name">
                        <p>Активності</p>
                    </div>
                    <div class="text">
                        <p>Двухдневный рафтинг тур по Южному Бугу в районе заповедника «Бужский Град».
                            Вас ждёт штурм порогов Верхний Мигейский, Мигейский, Интеграл, красоты природного парка, длинный сплав, уха и шашлыки.</p>
                    </div>
                </div>

            </div>
            <div class="price">
                <p>від<span>1200</span><span class="currency">грн</span> / чол</p>
            </div>
            <div class="socials">

                <div class="items">
                    <div class="txt">
                        <p>Ділитись</p>
                    </div>
                    <a href="#" class="item">
                        <svg id="facebook_1_" data-name="facebook (1)" xmlns="http://www.w3.org/2000/svg" width="30.028" height="30.028" viewBox="0 0 30.028 30.028">
                            <path id="Контур_776" data-name="Контур 776" d="M30.028,15.014A15.014,15.014,0,1,1,15.014,0,15.014,15.014,0,0,1,30.028,15.014Zm0,0" transform="translate(0)" fill="#707070"/>
                            <path id="Контур_778" data-name="Контур 778" d="M155.4,71.378v3.4s-3.9-.567-3.9,1.952v2.518h3.525l-.441,3.84H151.5V93.1h-3.9V83.087l-3.337-.063V79.247h3.274v-2.9s-.216-4.308,4.029-5.1A11.343,11.343,0,0,1,155.4,71.378Zm0,0" transform="translate(-135.797 -66.961)" fill="#fff"/>
                          </svg>
                    </a>
                    <a href="#" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.028" height="30.028" viewBox="0 0 30.028 30.028">
                            <g id="instagram_1_" data-name="instagram (1)" transform="translate(0)">
                              <path id="Контур_780" data-name="Контур 780" d="M212.747,209.874A2.874,2.874,0,1,1,209.874,207,2.874,2.874,0,0,1,212.747,209.874Zm0,0" transform="translate(-194.86 -194.86)" fill="#707070"/>
                              <path id="Контур_781" data-name="Контур 781" d="M149.273,137.472a2.855,2.855,0,0,0-1.636-1.636,4.77,4.77,0,0,0-1.6-.3c-.909-.041-1.182-.05-3.484-.05s-2.575.009-3.484.05a4.773,4.773,0,0,0-1.6.3,2.856,2.856,0,0,0-1.636,1.636,4.772,4.772,0,0,0-.3,1.6c-.041.909-.05,1.182-.05,3.484s.009,2.575.05,3.484a4.77,4.77,0,0,0,.3,1.6,2.855,2.855,0,0,0,1.636,1.636,4.765,4.765,0,0,0,1.6.3c.909.041,1.181.05,3.484.05s2.575-.009,3.484-.05a4.765,4.765,0,0,0,1.6-.3,2.855,2.855,0,0,0,1.636-1.636,4.775,4.775,0,0,0,.3-1.6c.041-.909.05-1.182.05-3.484s-.009-2.575-.05-3.484A4.764,4.764,0,0,0,149.273,137.472Zm-6.721,9.511a4.427,4.427,0,1,1,4.427-4.427A4.427,4.427,0,0,1,142.552,146.983Zm4.6-7.994a1.035,1.035,0,1,1,1.035-1.035A1.035,1.035,0,0,1,147.154,138.989Zm0,0" transform="translate(-127.538 -127.542)" fill="#707070"/>
                              <path id="Контур_782" data-name="Контур 782" d="M15.014,0A15.014,15.014,0,1,0,30.028,15.014,15.015,15.015,0,0,0,15.014,0Zm8.569,18.568a6.325,6.325,0,0,1-.4,2.093,4.408,4.408,0,0,1-2.521,2.521,6.329,6.329,0,0,1-2.093.4c-.919.042-1.213.052-3.554.052s-2.635-.01-3.555-.052a6.329,6.329,0,0,1-2.093-.4,4.408,4.408,0,0,1-2.521-2.521,6.324,6.324,0,0,1-.4-2.093c-.042-.92-.052-1.213-.052-3.555s.01-2.635.052-3.554a6.326,6.326,0,0,1,.4-2.093A4.411,4.411,0,0,1,9.367,6.845a6.331,6.331,0,0,1,2.093-.4c.919-.042,1.213-.052,3.554-.052s2.635.01,3.554.052a6.332,6.332,0,0,1,2.093.4,4.409,4.409,0,0,1,2.521,2.522,6.325,6.325,0,0,1,.4,2.093c.042.919.052,1.213.052,3.554S23.625,17.649,23.583,18.568Zm0,0" transform="translate(0)" fill="#707070"/>
                            </g>
                          </svg>
                    </a>
                    <a href="#" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.023" height="30.023" viewBox="0 0 30.023 30.023">
                            <path id="telegram_3_" data-name="telegram (3)" d="M15.012,30.023A15.012,15.012,0,1,0,0,15.012,15.009,15.009,0,0,0,15.012,30.023ZM6.869,14.686,21.343,9.106c.672-.243,1.258.164,1.041,1.18h0L19.92,21.894c-.183.823-.672,1.023-1.356.635l-3.753-2.766L13,21.508a.946.946,0,0,1-.757.369l.266-3.819,6.955-6.284c.3-.266-.068-.417-.467-.151l-8.6,5.412L6.7,15.879c-.8-.255-.822-.8.17-1.192Z" fill="#707070"/>
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
