<section class="select-place">
    <div class="select-place-wr">
        <div class="left-part">
            <div class="subtitle to-top del-75">
                <p>Обери місце своєї наступнуї пригоди - випробуй</p>
            </div>
            <div class="title to-top del-90">
                <h2>Команду</h2>
                <span class="move-line" style="background-color: #75DB43;"></span>
            </div>
            <div class="description to-top del-105">
                <p>Команда Raft.in.ua розробить індивідуальний тур для вашої <br> компанії, і може організувати незабутні враження навіть для <br> компанії з 200 чоловік</p>
            </div>
            <div class="link to-top del-120">
                <a href="#" class="modal-trigger" data-target="request-modal">Обрати корпоративний тур</a>
            </div>
        </div>

        <div class="right-part">
            <div class="img-wr to-left">
                <div class="img">
                    <img class="video__item" src="img/pics/select-place.png">
                    <div class="bg"></div>
                </div>
            </div>
            <div class="item-wr">
                <div class="item to-right del-15">
                    <div class="pic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="101.1" height="83.274" viewBox="0 0 101.1 83.274">
                            <g id="pic1" transform="translate(-451.4 -1217.991)">
                              <g id="XMLID_17_" transform="translate(452.9 1219.492)">
                                <path id="XMLID_25_" d="M520.75,1286.315h23.375a25.27,25.27,0,0,0,21.565-11.989,5.715,5.715,0,0,0,.829-2.865h0a2,2,0,0,0-1.961-1.96H516" transform="translate(-468.42 -1231.792)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                <path id="XMLID_24_" d="M499.4,1268.964l5.655-24.808a4.156,4.156,0,0,1,4.977-3.091l3.393.829a4.156,4.156,0,0,1,3.092,4.977l-1.583,6.862" transform="translate(-464.337 -1224.771)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                <path id="XMLID_23_" d="M523.192,1226.209a6.452,6.452,0,1,0-6.711,6.183A6.474,6.474,0,0,0,523.192,1226.209Z" transform="translate(-467.016 -1219.492)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
                                <path id="XMLID_22_" d="M513.1,1250.9l4.6,4.977c1.885,2.036,4.449,2.262,7.239,2.262h8.822" transform="translate(-467.707 -1227.218)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                <g id="XMLID_19_" transform="translate(35.04 30.921)">
                                  <line id="XMLID_21_" x1="18.398" y2="31.669" transform="translate(12.539)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                  <path id="XMLID_20_" d="M504.6,1304.183l-4.524,7.842a5.09,5.09,0,0,0,1.885,7.013l.3.226.3.226a5.09,5.09,0,0,0,7.013-1.885l4.524-7.842-2.262-7.163Z" transform="translate(-499.37 -1270.855)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                </g>
                                <path id="XMLID_18_" d="M504.778,1269.6l-.3,1.131c-.9,3.393-3.469,5.429-7.54,5.806h0c-8.9.829-12.743-1.734-14.4-4a7.363,7.363,0,0,0-6.032-2.941H454.86a2,2,0,0,0-1.96,1.96h0a5.31,5.31,0,0,0,.829,2.865,25.441,25.441,0,0,0,21.565,11.989h22.319" transform="translate(-452.9 -1231.817)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              </g>
                              <path id="XMLID_16_" d="M483.432,1308.67c-1.508-1.583-2.564-3.77-5.429-3.77-4.6,0-4.6,5.5-9.124,5.5-4.6,0-4.6-5.5-9.124-5.5-3.016,0-4.072,2.337-5.655,4" transform="translate(-0.295 -21.007)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <path id="XMLID_15_" d="M565.708,1306.483c-1.583,1.659-2.639,3.921-5.58,3.921-4.6,0-4.6-5.5-9.124-5.5-4.6,0-4.6,5.5-9.124,5.5-4.6,0-4.6-5.5-9.124-5.5-3.167,0-4.147,2.639-5.957,4.223" transform="translate(-18.177 -21.007)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                            </g>
                          </svg>
                    </div>
                    <div class="caption">
                        <p>Екстримальний <br> сплав</p>
                    </div>
                </div>
                <div class="item to-right del-30">
                    <div class="pic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56.005" height="76.211" viewBox="0 0 56.005 76.211">
                            <g id="pic2" transform="translate(-1023.691 -466.8)">
                              <g id="XMLID_2799_" transform="translate(1048.243 503.723)">
                                <line id="XMLID_2839_" y1="4.164" transform="translate(8.899 3.879)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                <line id="XMLID_2838_" y1="11.922" transform="translate(4.449)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                                <line id="XMLID_2821_" y1="4.164" transform="translate(0 3.879)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              </g>
                              <path id="XMLID_2802_" d="M1094.893,574.9l6.1,1.882a2.5,2.5,0,0,1,1.939,2.339,18.5,18.5,0,0,1-2.168,7.13,2.5,2.5,0,0,1-2.909.856l-15.059-4.62" transform="translate(-24.746 -45.793)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <path id="XMLID_2800_" d="M1033.241,565.608l-6.1-1.882a2.5,2.5,0,0,1-1.939-2.339,18.5,18.5,0,0,1,2.167-7.13,2.5,2.5,0,0,1,2.909-.856l13.519,4.107" transform="translate(0 -36.502)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <path id="XMLID_2801_" d="M1030.275,577.858l45.976-14.032a2.5,2.5,0,0,0,1.939-2.339,18.505,18.505,0,0,0-2.168-7.13,2.5,2.5,0,0,0-2.909-.856l-45.976,14.032a2.5,2.5,0,0,0-1.939,2.339,18.505,18.505,0,0,0,2.168,7.13A2.524,2.524,0,0,0,1030.275,577.858Z" transform="translate(0 -36.545)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <path id="XMLID_2803_" d="M1075.947,513.021s14.26-23.273-9.583-35.309a13.982,13.982,0,0,1,.513,15.744s-.4-20.136-21.847-25.155c0,0,11.865,11.465,0,31.145,0,0-3.936-6.788.742-15.116,0,0-15.972,8.328-9.754,28.692" transform="translate(-4.032 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
                            </g>
                          </svg>
                    </div>
                    <div class="caption">
                        <p>Їжа на відкритому <br> вогнищі</p>
                    </div>
                </div>
                <div class="item to-right del-45">
                    <div class="pic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="76.25" height="73.315" viewBox="0 0 76.25 73.315">
                            <g id="pic3" transform="translate(-86.3 -473.43)">
                              <path id="XMLID_2638_" d="M142.738,475l-18.313,5.677L106.113,475,87.8,480.677V544.71l18.313-5.677,18.313,5.677,18.313-5.677,18.313,5.677V480.677Z" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <line id="XMLID_2637_" y2="20.571" transform="translate(106.113 475)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <line id="XMLID_2636_" y2="20.571" transform="translate(124.425 524.139)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <line id="XMLID_2635_" y2="20.571" transform="translate(142.738 475)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                              <path id="XMLID_2634_" d="M94.4,528.467s10.438-6.043,14.223-5.677c5.372.488,12.941,10.8,18.313,11.415,4.334.488,16.6-5.677,16.6-5.677" transform="translate(-2.571 -18.612)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3" stroke-dasharray="3 3"/>
                              <line id="XMLID_2633_" x2="7.691" y2="7.691" transform="translate(147.865 506.009)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
                              <line id="XMLID_2632_" y1="7.691" x2="7.691" transform="translate(147.865 506.009)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
                            </g>
                          </svg>
                    </div>
                    <div class="caption">
                        <p>Командні змагання <br> та ігри</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
