<section class="select-tour">
    <div class="select-tour-wr">
        <div class="content">
            <div class="content-wr">
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>Обери тури які відповідають твоїм</p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>Вимогам</h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                    <div class="tabs-outer">
                        <div class="tabs">
                            <div class="tab-item to-top del-30">
                                <a class="active" data-tab-trigger="1" href="#">Активності</a>
                            </div>
                            <div class="tab-item to-top del-45">
                                <a href="#"  data-tab-trigger="2">Локіції</a>
                            </div>
                            <div class="tab-item to-top del-60">
                                <a href="#" data-tab-trigger="3">Час у турі</a>
                            </div>
                            <div class="tab-item to-top del-75">
                                <a href="#" data-tab-trigger="4">Для команд</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-container">
                    <div class="items items1 opened" data-tab="1">
                        <div class="tour-slider tour-slider1">
                            <div class="item to-left del-45">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg" id="v1-1" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати черемош</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-60">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg" id="v1-2" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати черемош</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-75">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg" id="v1-3" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video3.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати черемош</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-90">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg" id="v1-4" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video4.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати черемош</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"   id="v1-5" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати черемош</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items items2" data-tab="2">

                        <div class="tour-slider tour-slider2">
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v2-1" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>МІГЕЙСКІ ПОРОГИ</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v2-2" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>МІГЕЙСКІ ПОРОГИ</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v2-3" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video3.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>МІГЕЙСКІ ПОРОГИ</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v2-4" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video4.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>МІГЕЙСКІ ПОРОГИ</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v2-5" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>МІГЕЙСКІ ПОРОГИ</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items items3" data-tab="3">

                        <div class="tour-slider tour-slider3">

                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v3-1" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати прут</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v3-2" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video3.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати прут</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v3-3" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати прут</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v3-4" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video4.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати прут</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v3-5" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Карпати прут</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items items4" data-tab="4">
                        <div class="tour-slider tour-slider4">

                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v4-1" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video4.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Дністер</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-60">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v4-2" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Дністер</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v4-3" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video3.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Дністер</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v4-4" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Дністер</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="item-inner">
                                    <div class="bg-outer">
                                        <video class="bg"  id="v4-5" preload="metadata"  muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                                    </div>
                                    <div class="text">
                                        <p>Дністер</p>
                                        <a href="/product.html" class="btn">
                                            <span>детальніше</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
