<section class="select-tour">
    <div class="select-tour-wr">
        <div class="content">
            <div class="content-wr">
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>Обери тури які відповідають твоїм</p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>Вимогам</h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                    <div class="tabs-outer">
                        <div class="tabs">
                            <div class="tab-item to-top del-30">
                                <a class="active" data-tab-trigger="1" href="#">Активності</a>
                            </div>
                            <div class="tab-item to-top del-45">
                                <a href="#"  data-tab-trigger="2">Локіції</a>
                            </div>
                            <div class="tab-item to-top del-60">
                                <a href="#" data-tab-trigger="3">Час у турі</a>
                            </div>
                            <div class="tab-item to-top del-75">
                                <a href="#" data-tab-trigger="4">Для команд</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-container">
                    <div class="items items1 opened" data-tab="1">
                        <div class="tour-slider tour-slider1">
                            <div class="item to-left del-45">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-60">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-75">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-90">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items items2" data-tab="2">

                        <div class="tour-slider tour-slider2">
                            <div class="item to-left del-45">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-60">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-75">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-90">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items items3" data-tab="3">

                        <div class="tour-slider tour-slider3">

                            <div class="item to-left del-45">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-60">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-75">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-90">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items items4" data-tab="4">
                        <div class="tour-slider tour-slider4">

                            <div class="item to-left del-45">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-60">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-75">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item to-left del-90">
                                <a href="/product.html" class="hidden-lnk"></a>
                                <div class="img-container">
                                    <div class="img" style="background-image: url(../img/pics/item-img.png);"></div>
                                    <div class="bg"></div>
                                </div>
                                <div class="text-part">
                                    <div class="caption">
                                        <p>Назва туру може бути в 2 строки Карпати «Черний Черемош» Сплав</p>
                                    </div>
                                    <div class="time">
                                        <p>Час у турі <span>3 дні</span></p>
                                    </div>
                                    <div class="price">
                                        <div class="price-value">
                                            <p>1850 грн </p>
                                            <p class="old-price">2500 грн</p>
                                        </div>
                                        <div class="sticker">
                                            <p>Знижка</p>
                                        </div>
                                    </div>
                                    <div class="buy-btn">
                                        <a href="/product.html"><span>Детальніше</span></a>
                                    </div>
                                    <div class="info-list">
                                        <ul class="list-default">
                                            <li>⦁ подвоз участников и снаряжения</li>
                                            <li>⦁ ночёвки в палаточном лагере</li>
                                            <li>⦁ спальный мешок и коврик</li>
                                            <li>⦁ питание</li>
                                            <li>⦁ работа инструктора</li>
                                            <li>⦁ аренда снаряжения</li>
                                            <li>⦁ страховка</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
