<section class="tour-variant">
    <div class="text">
       <div class="subtitle to-top">
            <p>Варіанти турів за напрямком</p>
        </div>
        <div class="title to-top del-15">
            <h2>Черемош</h2>
            <span class="move-line" style="background-color: #75DB43;"></span>
        </div>
        <div class="triggers to-top del-30">
            <button class="trigger active" data-slide="0">Start-up</button>
            <button class="trigger" data-slide="1">Smart</button>
            <button class="trigger" data-slide="2">Exclusive</button>
        </div>
    </div>

    <div class="tour-wr to-top del-45">
        <div class="content">
            <div class="caption">
                <p>Start-up</p>
            </div>
            <div class="terms-list">
                <ul class="list-default">
                    <li>
                        <img src="img/pics/terms-icon1.svg" alt="">
                        <p>Оренда професійного спорядження та екіпування</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon2.svg" alt="">
                        <p>Трансфер в обидві сторони</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon3.svg" alt="">
                        <p>Проживання в комфортних будиночках чи палатках</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon4.svg" alt="">
                        <p>Екскурсії по на гори Смотрич та  обсерваторію «Білий слон» </p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon5.svg" alt="">
                        <p>3 разове харчування та перекуси. Готуемо на вогні</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon6.svg" alt="">
                        <p>Фотограф, для збереження незубутніх вражень</p>
                    </li>
                </ul>
            </div>
            <div class="time">
                <p>Тривалість туру 2 дні</p>
            </div>
            <div class="price">
                <p>1200 грн / чол</p>
            </div>
            <div class="btn-wr to-top del-120">
                <button class="modal-trigger" data-target="request-modal">
                    <span>Замовити тур</span>
                </button>
            </div>
        </div>
        <div class="content">
            <div class="caption">
                <p>Smart</p>
            </div>
            <div class="terms-list">
                <ul class="list-default">
                    <li>
                        <img src="img/pics/terms-icon1.svg" alt="">
                        <p>Оренда професійного спорядження та екіпування</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon2.svg" alt="">
                        <p>Трансфер в обидві сторони</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon3.svg" alt="">
                        <p>Проживання в комфортних будиночках чи палатках</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon4.svg" alt="">
                        <p>Екскурсії по на гори Смотрич та  обсерваторію «Білий слон» </p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon5.svg" alt="">
                        <p>3 разове харчування та перекуси. Готуемо на вогні</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon6.svg" alt="">
                        <p>Фотограф, для збереження незубутніх вражень</p>
                    </li>
                </ul>
            </div>
            <div class="time">
                <p>Тривалість туру 2 дні</p>
            </div>
            <div class="price">
                <p>1200 грн / чол</p>
            </div>
            <div class="btn-wr to-top del-120">
                <button class="modal-trigger" data-target="request-modal">
                    <span>Замовити тур</span>
                </button>
            </div>
        </div>
        <div class="content">
            <div class="caption">
                <p>Exclusive</p>
            </div>
            <div class="terms-list">
                <ul class="list-default">
                    <li>
                        <img src="img/pics/terms-icon1.svg" alt="">
                        <p>Оренда професійного спорядження та екіпування</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon2.svg" alt="">
                        <p>Трансфер в обидві сторони</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon3.svg" alt="">
                        <p>Проживання в комфортних будиночках чи палатках</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon4.svg" alt="">
                        <p>Екскурсії по на гори Смотрич та  обсерваторію «Білий слон» </p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon5.svg" alt="">
                        <p>3 разове харчування та перекуси. Готуемо на вогні</p>
                    </li>
                    <li>
                        <img src="img/pics/terms-icon6.svg" alt="">
                        <p>Фотограф, для збереження незубутніх вражень</p>
                    </li>
                </ul>
            </div>
            <div class="time">
                <p>Тривалість туру 2 дні</p>
            </div>
            <div class="price">
                <p>1200 грн / чол</p>
            </div>
            <div class="btn-wr to-top del-120">
                <button class="modal-trigger" data-target="request-modal">
                    <span>Замовити тур</span>
                </button>
            </div>
        </div>
    </div>
</section>
