<section class="tour-list">
    <div class="tour-list-wr">
        <div class="content">
            <div class="content-wr">
                <div class="top-part">
                    <div class="subtitle to-top">
                        <p>На вас чекають Емоції різноманітних</p>
                    </div>
                    <div class="title to-top del-15">
                        <h2>Турів</h2>
                        <span class="move-line" style="background-color: #1FACFF"></span>
                    </div>
                </div>
                <div class="items">
                    <div class="item to-left del-30">
                        <a href="#" class="hide-lnk"></a>
                        <div class="item-inner">
                            <div class="bg-outer">
                                <video class="bg" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                            </div>
                            <video class="bg-hide" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video1.mp4" type="video/mp4"></video>
                            <div class="text">
                                <p>Карпати черемош</p>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-45">
                        <a href="#" class="hide-lnk"></a>
                        <div class="item-inner">
                            <div class="bg-outer">
                                <video class="bg" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                            </div>
                            <video class="bg-hide" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video2.mp4" type="video/mp4"></video>
                            <div class="text">
                                <p>МІГЕЙСКІ ПОРОГИ</p>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-60">
                        <a href="#" class="hide-lnk"></a>
                        <div class="item-inner">
                            <div class="bg-outer">
                                <video class="bg" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video3.mp4" type="video/mp4"></video>
                            </div>
                            <video class="bg-hide" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video3.mp4" type="video/mp4"></video>
                            <div class="text">
                                <p>Карпати прут</p>
                            </div>
                        </div>
                    </div>
                    <div class="item to-left del-75">
                        <a href="#" class="hide-lnk"></a>
                        <div class="item-inner">
                            <div class="bg-outer">
                                <video class="bg" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video4.mp4" type="video/mp4"></video>
                            </div>
                            <video class="bg-hide" preload="metadata" playsinline="" muted="muted" loop="loop" class="video__item"><source src="img/pics/video4.mp4" type="video/mp4"></video>
                            <div class="text">
                                <p>Дністер</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
