<section class="tour-photos">
    <div class="bg-wr"></div>
    <div class="container">
        <div class="title to-top">
            <h4>Про тур в фото</h4>
        </div>
        <div class="slider-outer to-top del-15">
            <div class="slider">
                <div class="item">
                    <img src="img/pics/slider-photo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/pics/slider-photo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/pics/slider-photo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/pics/slider-photo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/pics/slider-photo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/pics/slider-photo.png" alt="">
                </div>
            </div>
        </div>
        <div class="preview-section to-top del-30">
            <div class="item active" data-dot="0">
                <img src="img/pics/slider-photo.png" alt="">
                <div class="bg"></div>
            </div>
            <div class="item" data-dot="1">
                <img src="img/pics/slider-photo.png" alt="">
                <div class="bg"></div>
            </div>
            <div class="item" data-dot="2">
                <img src="img/pics/slider-photo.png" alt="">
                <div class="bg"></div>
            </div>
            <div class="item" data-dot="3">
                <img src="img/pics/slider-photo.png" alt="">
                <div class="bg"></div>
            </div>
            <div class="item" data-dot="4">
                <img src="img/pics/slider-photo.png" alt="">
                <div class="bg"></div>
            </div>
            <div class="item" data-dot="5">
                <img src="img/pics/slider-photo.png" alt="">
                <div class="bg"></div>
            </div>
        </div>
    </div>
</section>
